.App {
  text-align: center;
  background-color: #f2f2f2;
  height: 100%;
}
html,body, #root{
  height: 100%;
}

.App-header {
  background: rgb(4,120,15);
  background: linear-gradient(90deg, rgba(4,120,15,1) 0%, rgba(9,121,28,1) 35%, rgba(2,161,4,1) 100%);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 10px;
}

nav li:last-child {
  margin-right: 0;
}
a{
  color: white;
  text-decoration: none;
}
.spotify-image{
  width: 82px;
}

#spotify-button {
  margin-right: 64px;
  background-color: #20d45f;
  color: white;
  border: none;
  border-radius: 64px;
  cursor: pointer;
}
.song{
  border: 1px solid black;
}
.song-icon{
  width: 128px;
  margin: 12px 0;
}
.song-title{
  margin-bottom: 8px;
}

#user-data-div, #top-tracks-div, #top-artists-div{
  display: none;
  height: 100%;
  background-color: whitesmoke;
}
.carousel-item{
  max-width: 420px;
}
.active{
  margin: 0 40%;
}